<a href="https://colab.research.google.com/github/manikanta-eng/AIML-2025/blob/main/lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#- Part 1:Implement basic data structures using Numpy,Pandas

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

List1=[1,2,3,4]
array1 = np.array(List1)
array1
array2= np.array([1,2,3,4])
List1,array1,array2
type(List1),type(array1),type(array2)

In [ ]:
print(f"Sine value of array1:{np.sin(array1)}")
print(f"Log value of array1:{np.log(array1)}")
print(f"Log base 2 value of array1:{np.log2(array1)}")
print(f"Log base 10 value of array1:{np.log10(array1)}")
print(f"Exponential value of array1:{np.exp(array1)}")

In [ ]:
Add:array1+array2
Sub:array1-array2
Mul:array1*array2
Div:array1/array2
print(f"Adding{array1} with {array2}")
print(f"Result:{np.add(array1,array2)}")

In [ ]:
people =['ajay','anand','harish','sanjay']
age = [12,18,19,21]
weight = [65,50,56,65]
height=[145,168,171,175]

In [ ]:
plt.scatter(weight, height)
plt.title("Relationship between Weight and Height of Patients")
plt.ylabel("Height in Meters")
plt.xlabel("Weight of Patients in Kgs")
plt.show()

In [ ]:
plt.figure(figsize=(5,4))
plt.hist(people, bins=5)
plt.xlabel('people')
plt.ylabel('weight')
plt.title('people vs weight')
plt.show()